@layer utilities {
  .container-inline { container-type: inline-size; }
  .container-size { container-type: size; }
  .container-normal { container-type: normal; }

  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--spacing-4);
    max-width: 80rem;
  }
}
