@layer variants {
  @container (min-width: 320px) {
    .\@xs\:flex { display: flex; }
    .\@xs\:hidden { display: none; }
    .\@xs\:grid-cols-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
  }

  @container (min-width: 448px) {
    .\@md\:flex { display: flex; }
    .\@md\:hidden { display: none; }
    .\@md\:grid-cols-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
    .\@md\:grid-cols-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
  }

  @container (min-width: 512px) {
    .\@lg\:flex { display: flex; }
    .\@lg\:hidden { display: none; }
    .\@lg\:grid-cols-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
  }
}
